body {
  background: #f0f2eb;
  font-family: "Roboto Slab", serif;
}
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
}
select {
  width: 100%;
  display: block;
  padding: 5px 8px;
  margin: 20px 0;
  border-radius: 4px;
  font-size: 18px;
  opacity: 0.6;
}
i {
  pointer-events: none;
}
footer {
  text-align: center;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .container {
    border-radius: 10px;
  }
  .city-name {
    font-size: 30px !important;
  }
  .time {
    font-size: 42px !important;
  }

  .time small {
    font-size: 24px !important;
    vertical-align: middle;
    line-height: 42px;
  }
}

.container {
  max-width: 700px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 60px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/7634436/pexels-photo-7634436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}
.city-name {
  font-size: 20px;
}
.date {
  opacity: 0.8;
}
.time {
  font-size: 24px;
}

.time small {
  font-size: 13px;
  vertical-align: middle;
  line-height: 13px;
}
.github-link {
  text-decoration: none;
  color: #53a8b6;
}
.border-bottom-mine {
  border-bottom: 1px dashed;
}
.border-top-mine {
  border-top: 1px dashed;
}
.clear-button {
  background-color: rgba(0, 0, 0, 0);
  max-width: 15px;
  box-sizing: unset;
  border: none;
  padding: 0;
  color: #787878;
  font-size: 24px;
}
